<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SlackPoster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>747F16A51E064A2F000108FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>747F16B91E064A2F000108FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>747F16C41E064A2F000108FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
